---
import ButtonImage from './ButtonImage.astro';
---

<section>
    <div class="wrap-img">
        <img
            class="profileImage"
            src="/images/image-tanya.jpg"
            alt="woman picture"
        />
        <ButtonImage />
    </div>
</section>

<style>
    section {
        background-image: url('../assets/pattern-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        padding-block: 3rem;
        position: relative;
    }

    .wrap-img {
        max-height: 370px;
        max-width: 350px;
        width: 75%;
        margin-inline: auto;
        position: relative;
        box-shadow: 4px 14px 15px -3px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 900px) {
        .wrap-img {
            max-height: 580px;
            max-width: 650px;
        }

        img {
            width: 100%;
        }
    }
</style>
