---

---

<section>
    <div class="testimonial-text active">
        <p class="text">
            “ I’ve been interested in coding for a while but never taken the
            jump, until now. I couldn’t recommend this course enough. I’m now in
            the job of my dreams and so excited about the future. ”
        </p>
        <footer>
            <p class="name">Tanya Sinclair</p>
            <p class="proffetion">UX Engineer</p>
        </footer>
    </div>
    <div class="testimonial-text">
        <p class="text">
            “ If you want to lay the best foundation possible I’d recommend
            taking this course. The depth the instructors go into is incredible.
            I now feel so confident about starting up as a professional
            developer. ”
        </p>
        <footer>
            <p class="name">John Tarkpor</p>
            <p class="proffetion">Junior Front-end Developer</p>
        </footer>
    </div>
</section>

<style>
    .testimonial-text {
        text-align: center;
        padding-block: 2rem;
        background-image: url('../assets/pattern-quotes.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 70px;
        display: none;
    }

    .testimonial-text.active {
        display: block;
    }

    .text {
        margin-bottom: 1rem;
        color: rgba(32, 32, 70, 0.7);
        position: relative;
        z-index: 10;
    }

    .name {
        color: var(--blue-clr);
        font-weight: 700;
        font-size: 17px;
    }

    .proffetion {
        color: var(--dark-gray);
        font-size: 17px;
    }

    @media (min-width: 900px) {
        .testimonial-text {
            text-align: start;
            background-position: left 15% top;
            margin-right: -8rem;
        }

        .text {
            font-size: 20px;
        }

        footer {
            display: flex;
            gap: 0.5rem;
        }
    }

    @media (min-width: 1100px) {
        .testimonial-text {
            margin-right: -9rem;
        }
        .text {
            font-size: 24px;
        }
    }
</style>
